    body {
        font-family: Arial, Helvetica, sans-serif, "Microsoft JhengHei", "微軟正黑體";
        background-color: rgb(235, 235, 235);
    }
    /* 導覽列 */
    
    #nav {
        padding: 8px 50px;
    }
    /* 首頁大圖 */
    
    .canvas {
        margin-top: 50px;
    }
    
    .bg {
        background-image: url("../img/loanData.png");
        background-position: bottom 30% right;
        background-size: cover;
        opacity: 0.9;
        filter: grayscale(50%);
        /* background-attachment: fixed; */
        padding: 180px 0px;
    }
    /* 標題 */
    
    .title {
        margin-top: 150px;
    }
    
    .title h2 {
        margin-bottom: 40px;
        font-size: 64px;
        font-family: 'Yeseva One', cursive;
        /* font-family: 'Heebo', sans-serif; */
    }
    
    h2.main-title {
        margin-bottom: 5px;
        font-size: 74px;
    }
    
    .title-baseline {
        width: 300px;
        height: 8px;
        background-color: rgb(65, 65, 65);
        /* margin: 0px auto; */
    }
    
    .title h3 {
        margin-bottom: 10px;
        /* font-size: 42px; */
        font-family: 'Yeseva One', cursive;
        /* font-family: 'Heebo', sans-serif; */
    }
    
    .info {
        font-size: 22px;
        line-height: 30px;
        text-align: left;
        margin-top: 50px;
    }
    /* 動態圖表 */
    /* 標題字 */
    
    .pattern-name {
        font-family: 'Heebo', sans-serif;
        font-size: 24px;
    }
    /* 圖表設計 */
    
    #us-state-chart {
        width: 100%;
        height: 500px
    }
    
    #grade-year-chart {
        width: 100%;
        height: 500px;
    }
    
    #loan-status-chart {
        width: 100%;
        height: 400px;
    }
    
    #delinquency-chart {
        width: 100%;
        height: 600px;
    }